.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
.ipynb_checkpoints/
.astro/
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
*.local.yml
*.local.yaml
compose.yaml
compose.yaml.backup